.attendance-stat-card{
    background:white;
    border-radius:16px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    text-align:center;
}

.attendance-stat-card h3{
    margin-bottom:15px;
    color:#666;
}

.attendance-stat-card p{
    font-size:34px;
    font-weight:bold;
    color:#4f46e5;
    margin:0;
}