select{
    padding:12px 18px;
    border-radius:10px;
    border:1px solid #ddd;
    font-size:15px;
    cursor:pointer;
    background:white;
}

select:focus{
    outline:none;
    border-color:#4f46e5;
}